Source: cutefish-calamares
Section: utils
Priority: optional
Maintainer: Jonathan Carter <jcc@debian.org>
Build-Depends: cmake,
               cryptsetup <!nocheck>,
               debhelper-compat (= 13),
               extra-cmake-modules,
               gettext,
               libboost-python-dev,
               libkf6config-dev,
               libkf6coreaddons-dev,
               libkf6i18n-dev,
               libkf6iconthemes-dev,
               libkf6kio-dev,
               libkf6parts-dev,
               libkf6service-dev,
               libkf6solid-dev,
               libkpmcore-dev,
               libparted-dev,
               libpolkit-qt6-1-dev,
               libpwquality-dev,
               libqt6svg6-dev,
               qt6-webengine-dev,
               libyaml-cpp-dev,
               os-prober <!nocheck>,
               pkg-config,
               pkg-kde-tools,
               polkitd <!nocheck>,
               python3-dev,
               qml6-module-qtquick-layouts,
               qml6-module-qtquick-window,
               qml6-module-qtquick,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/calamares/calamares

Package: cutefish-calamares
Architecture: linux-any
Depends: os-prober, ${misc:Depends}, ${shlibs:Depends}
Recommends: btrfs-progs, squashfs-tools
Description: distribution-independent installer framework
 Calamares is a distribution-independent installer framework.
 .
 It provides a graphical installer that can be used with nearly
 any distribution. This package is suitable for live media on
 Debian-based systems, and won't be of any particular use on
 an already installed system.
 .
 You will likely want to provide your own config files to match
 your distribution, reading the Calamares documentation will guide
 you through that process.
